@font-face{
  font-family: 'Orbitron';
  src: url(/static/css/fonts/feather/orbitron.woff2) format('woff2');
  font-style: normal;
  font-weight: bold;
  font-stretch: 100%;
  font-display: swap;
}
@font-face{
  font-family: 'Acme';
  src: url(/static/css/fonts/feather/acme.woff2) format('woff2');
  font-style: normal;
  font-weight: 500;
  font-stretch: 100%;
  font-display: swap;
}
@font-face{
  font-family: 'Protest Riot';
  src: url(/static/css/fonts/feather/protestriot.woff2) format('woff2');
  font-style: normal;
  font-weight: 900;
  font-stretch: 100%;
  font-display: swap;
}
@font-face {
  font-family: 'Lexend Deca';
  src: url(/static/css/fonts/feather/LexendDeca.woff2) format('woff2');
  font-style: normal;
  font-weight: 500;
  font-stretch: 100%;
  font-display: swap;
}